<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012436827845-cv5toqs0l9icnii6hpulcbmq5jmr4sc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012436827845-cv5toqs0l9icnii6hpulcbmq5jmr4sc9</string>
	<key>API_KEY</key>
	<string>AIzaSyDVIOpU5Y3rSMEH9Ugfslv04mTdS249iOM</string>
	<key>GCM_SENDER_ID</key>
	<string>1012436827845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>meevan.MeeVan</string>
	<key>PROJECT_ID</key>
	<string>meevan-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>meevan-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012436827845:ios:5118a578eee7413371baac</string>
	<key>DATABASE_URL</key>
	<string>https://meevan-ios.firebaseio.com</string>
</dict>
</plist>